@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-satoshi: 'Satoshi', sans-serif;
  --font-cabinet: 'Cabinet Grotesk', sans-serif;
}

html,
body {
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-satoshi: var(--font-satoshi);
  --font-cabinet: var(--font-cabinet);
  --text-huge: 20rem;
}

@utility flex-right {
  @apply flex h-full items-center justify-end;
}

@layer utilities {
  .vertical-rl {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .vertical-lr {
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }
}

@layer components {
  main {
    @apply min-h-screen;
  }

  #hero {
    @apply h-screen w-full overflow-hidden;

    h1 {
      @apply font-cabinet text-right text-[clamp(6rem,20vw,19rem)] leading-[0.7] font-black;
    }

    .scroll {
      @apply w-3xs;

      p {
        @apply font-cabinet text-sm font-black;
      }
    }
  }
}
